<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>CRUD - Ferreteria</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    </head>

    <body>

        <h1>CRUD - Ferreteria</h1>

        <ul>
            <li>
                <a href="/clientes">Clientes</a>
            </li>

            <li>
                <a href="/productos">Productos</a>
            </li>

            <li>
                <a href="/pedidos">Pedidos</a>
            </li>
        </ul>

    </body>
</html>